name: Deployable Check

on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Install Dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install

      # - name: test check
      #   run: yarn test
      #   env:
      #     PUBLIC_END_POINT: ${{ secrets.PUBLIC_API_KEY }}
      #     PUBLIC_SERVICE_DOMAIN: ${{ secrets.PUBLIC_SERVICE_DOMAIN }}
      #     PUBLIC_API_KEY: ${{ secrets.PUBLIC_API_KEY }}
      #     PUBLIC_GA_ID: ${{ secrets.NEXT_PUBLIC_GA_ID}}
      - name: lint check
        run: yarn lint
      - name: build check
        env:
          PUBLIC_END_POINT: ${{ secrets.PUBLIC_API_KEY }}
          PUBLIC_SERVICE_DOMAIN: ${{ secrets.PUBLIC_SERVICE_DOMAIN }}
          PUBLIC_API_KEY: ${{ secrets.PUBLIC_API_KEY }}
          PUBLIC_GA_ID: ${{ secrets.NEXT_PUBLIC_GA_ID}}
        run: yarn build
